html, body {
	height: 100%;
	margin: 0;
}
.content {
	min-height: 100%;
	/*background-color: blue;*/
}
img {
	width: 250px;
	height: 250px;
}
body {
	font-size: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(dust_scratches.png);
}
header {
	position: sticky;
	top: 0;  
	background-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	border-color: #cccccc;
	z-index: 3;
}
h1 {
	font-size: 1.5em;
	padding: 10px;
	/*margin: 10px;*/
	float: left;
	/*background-color: yellow;*/
	font-weight: bold;
}
h2 {
	font-size: 1.3em;
	padding: 10px;
	margin: 0px 0px 0px 10px;
}
h1, h2 {
	font-family:"Georgia", "Times", "Times New Roman", serif;
	font-weight: bold;
	color: #4aaaa5;
}
nav {
	float: right;
	/*background-color: yellow;*/
}
nav a {
	float: right;
	display: block;
	padding: 12px;
	font-size: 1.25em;
	font-variant: small-caps;
	text-decoration: none;
	color: #777777;
}


nav a:visited {
	color: #777777;
}
nav a:hover {
	background-color: #777777;
	color: white;
}
p {
	padding: 10px 10px 10px 10px;
	/*margin: 10px;*/
	text-align: justify;
	color: #777777;
}

.content-inside {
	/*padding: 20px;*/
	padding-bottom: 50px;
	width: 960px;
	margin: auto;
}
article {
	padding: 10px;
	/*width: 60%;*/
	width: 626px;
	margin: 5px;
	float: left;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: #dddddd;
}
aside {
	float:right;
	padding: 5px;
	margin: 5px;
	/*width: 15%;*/
	width: 246px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px; 
	border-color: #dddddd;
}
section {
	/*background-color: blue;*/
	/*padding: 20px;*/
	padding-bottom: 5px;
	/*text-align: center;*/
	margin: 5px;
	height: 100%;
	border-width: 10px;
	border-color: black;
}
.logo {
	height: 50px;
	width: 50px;
	margin: 5px;
	padding: 0px 5px 0px 10px;
}
footer {
	position: sticky;
	bottom: 0;
	padding: 5px;
	background-color: #666666;
	height: 20px;
	margin-top: -20px;
}
footer p {
	text-align: center;
	font-style: italic;
	font-size: 0.75em;
	margin: 0px;
	padding: 4px;
	color: white;
}
input {
	margin: 5px 0px 10px 0px;
	width: 600px;
	padding: 10px 0px 0px 0px;
}
form {
	padding: 10px;
}
.portf {
	height: 280px;
	width: 280px;
	position: relative;
	margin: 10px;
	float: left;
}
.portftitle {
	position: absolute;
	top: 180px;
	background-color: pink;
	/*z-index: 2;*/
	padding: 10px;
	margin: 20px;
	width: 230px;
	text-align: center;
	opacity: 0.6;
	font-weight: bold;
	font-size: 1.2em;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

@media screen and (max-width: 768px) {
	aside {
		float: none;
		clear: both;
		width: 626px;
		padding: 10px;
		margin: 5px;
	}
	.logo {
		margin: 10px 10px 10px 100px;
	}
	h2 {
		text-align: center;
	}
}

@media screen and (max-width: 640px){
	header {
		position: static;
		float:none;
	}
	aside {
		width: 580px;
		float: none;
		clear: both;
	}
	article {
		width: 580px;
	}
	img {
		width: 500px;
		height: auto;
	}
	nav a {
		float: none;
		clear: both;
		text-align: center;
	}
	h1 {
		float: none;
		text-align: center;
	}
	nav {
		float: none;
	}
	.portf {
		width: 500px;
		height: auto;
		/*text-align: center;*/
	}
	.portftitle	{
		width: 480px;
		top: 300px;
		font-size: 3em;
	}
	.logo {
		margin: 10px 10px 10px 88px;
	}
	input {
		width: 550px;
	}
}